.clock-container {
  background: #f4fc70;
  border-radius: 4rem;
  padding: 0 2rem;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-time-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock-label {
  font-weight: 500;
  font-size: 1.5rem
}

.clock-time {
  font-weight: 500;
  font-size: 2rem
}

.clock-timezone {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  
  border-radius: 2rem;
  font-size: 1.5rem;
  
  background: black;
  color: white;
}