.event-header {
  width: 100%;

  display: flex;
  justify-content: space-between;

  font-weight: 500;
  font-size: 3em;
}

.event-description {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-rumors-header {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.event-rumor-body {
  font-size: 1.5rem;
}

.event-rumor-body {
  margin-bottom: 1rem;
}

.event-rumor-body p {
  margin: 0;
}