.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #f8ff09;
  background: #06030d;

  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;

  padding: 1rem 3rem;
}

.header-item {
  flex: 2;
  width: auto;
  flex-basis: 1;
}

.header-item:first-child {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header-item:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-text {
  color: white;
  font-family: Mukta, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .header-text {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .header-item:first-child {
    display: none;
  }

  .header-item:last-child {
    display: none;
  }

  .header-text {
    font-size: 2rem;
  }
}
